
<div class="user container">
  <h1>User Profile</h1>

  <img src="<%= @user.picture_url %>" alt="Profile Picture">

  <p>
    <strong>Username:</strong>
    <%= @user.username %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong>Crypted password:</strong>
    <%= @user.crypted_password %>
  </p>

  <p>
    <strong>Salt:</strong>
    <%= @user.salt %>
  </p>
</div>

<p><%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %></p>

<hr>
<% if @activity.any? %>
  <h1>User's Activities</h1>
  <%= render partial: 'activities/activity', collection: @activity %>
<% else %>
  <h1>You have not created any activities</h1>
  <%= link_to 'Create an Activity', new_activity_path %>
<% end %>

<hr>
<h1>User's Comments</h1>
<div class="comments container">
  <% if @user.comments.any? %>
    <%= render partial: 'comments/comment', locals: { from_activity: false }, collection: @user.comments %>
  <% else %>
    <p><b>You have not made any comments.</b></p>
  <% end %>
</div>
