<div class="activity">

  <!-- <iframe src="" frameborder="0">Google Map Image?</iframe> -->

  <li><img class="activity-owner" src="<%= activity.owner.picture_url %>" alt="Activ8'r Image"></li>
  <li><%= link_to "#{activity.owner.username}", user_url(activity.owner), class: 'activity-owner' %></li>

  <li><img src="<%= activity.picture_url %>" alt="Activity Image"></li>

  <li><%= link_to "#{activity.title}", activity_path(activity) %></li>
  <li><%= activity.location %></li>
  <li><%= activity.end_time.to_date %></li>
  <li><p><%= activity.description %></p></li>

</div>