
<div class="cards">
  <div class="card">
    <div class="card-image">
      <%= link_to image_tag(activity.picture_url, alt: "Activity Image"), activity_path(activity) %>
    </div>

    <div class="card-header">
      <p><%= link_to "#{activity.owner.username}", user_url(activity.owner)%></p>
      <hr class="style-seven">
      <p><%= link_to "#{activity.title}", activity_path(activity) %></p>
    </div>

    <div class="card-copy">
      <p><b>Location Name: </b><%= activity.location_title %></p>
      <p><b>Address:</b> <%= activity.location %></p>
      <p><b>End Time:</b> <%= activity.end_time %></p>
      <p><b>Description:</b> <%= activity.description %></p>
      <% if activity.latitude && activity.longitude %>
        <p><b>Distance to:</b> <%= activity.distance_to([latitude, longitude], :km).round(3) %> kms</p>
      <% end %>
    </div>

    <div class="card-header add-comment">
      <hr class="style-seven">
      <p>Comments: <%= activity.number_of_comments %></p>
      <%= link_to 'Add Comment', new_activity_comment_path(activity) %>
      </div>
  </div>
</div>