<div class="activity">

  <!-- <iframe src="" frameborder="0">Google Map Image?</iframe> -->


  <li><img class="activity-owner" src="<%= activity.owner.picture_url %>" alt="Activ8'r Image"></li>
  <li><%= link_to "#{activity.owner.username}", user_url(activity.owner), class: 'activity-owner' %></li>

  <li><img src="<%= activity.picture_url %>" alt="Activity Image"></li>

  <li><%= link_to "#{activity.title}", activity_path(activity) %></li>
  <li><%= activity.location %></li>
  <li><%= activity.end_time.to_date %></li>
  <li><p><%= activity.description %></p></li>

  <% if activity.owner == current_user %>
    <hr>
    <p>current_user: <%= current_user %></p>
    <p>activity.owner: <%= activity.owner %></p>
    <p>This will ownly show if you are the owner of the activity.</p>
    <div class="activity-options">
      <li class="btn btn-edit"><%= button_to 'Edit', { action: :edit, id: activity.id }, method: :get %></li>
      <li class="btn btn-destroy"><%= button_to 'De-Activ8', { action: :destroy, id: activity.id }, method: :delete, data: { confirm: "Are you sure you want to De-Activ8 your activity: #{activity.title}?" } %></li>
    </div>
  <% end %>
</div>