
<div class="sub-menu container">
  <%= button_tag "Find Activities near me", id: "nearby-search" %>
  <%= form_tag activities_path, method: :get do %>
    <%= label_tag :search, "Find Activities" %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search" %>
  <% end %>
  <%= link_to 'New Activity', new_activity_path %>
</div>

<!-- Google Maps -->
<div class="container">
  <div id="map"></div>
</div>

<div id="activities" class="container">
<h2>List of Activities</h2>
    <%= render @activities %>
</div>

<script>
  function draw_markers(handler) {
    var markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  }
</script>
