<div id="map-container" class="container">
  <div id="map"></div>
</div>

<div id="map-menu" class="container">
  <%= form_tag activities_path, method: :get do %>
    <%= label_tag :search, "Search a Location" %>

    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search" %>
  <% end %>
  <%= button_tag "Near Me", id: "nearby-search" %>
  <%= link_to 'Create Activity', new_activity_path %>
</div>

<div class="container title">
  <hr>
  <h1>Activites In Your Area</h1>
  <hr>
</div>

<div id="activities" class="container">
  <%= render partial: 'activity', collection: @activities, locals: {latitude: params[:latitude], longitude: params[:longitude]} %>
</div>

<script>
  function draw_markers(handler) {
    var markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.getMap().setZoom(14);
    handler.fitMapToBounds();
  }
</script>
