<h1>Activ8tions</h1>
<%= form_tag activities_path method: :get do %>
<%= label_tag :search, "Find Activities" %>
<%= text_field_tag :search, params[:search] %>
<%= submit_tag "Search" %>
<% end %>

<h2>List of Activities</h2>

<div class="activities">
  <ul>
    <%= render @activities %>
  </ul>
</div>

<%= link_to 'New Activity', new_activity_path %>


