<!DOCTYPE html>
<html>
<head>
  <title>Activ8</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['google_maps_api_key']}" %>
  <%= javascript_include_tag "//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js" %>
  <%= javascript_include_tag '//google-maps-utility-library-v3.googlecode.com/svn/tags/infobox/1.1.9/src/infobox_packed.js' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans">

  <meta name="viewport" content="width=device-width, initial-scale=1">


</head>
<body>
  <header>
  <!-- Start Navbar -->
    <div id="nav">
      <ul>
        <li><%= link_to 'Activities', :root %></li>
        <% if current_user %>
          <li><%= link_to 'View Profile', user_path(current_user) %></li>
          <li><%= link_to 'Edit Profile', edit_user_path(current_user) %></li>
          <li><%= link_to 'Logout', :logout, method: :post %></li>
        <% else %>
          <li><%= link_to 'Sign Up', new_user_path %></li>
          <li><%= link_to 'Login', :login %></li>
        <% end %>
      </ul>
    </div>
<!-- End Navbar -->
  </header>

  <div class="parent-container">
    <div class="alerts container">
      <p id="notice"><%= flash[:notice]%></p>
      <p id="alert"><%= flash[:alert]%></p>
    </div>

    <%= yield %>

  </div>

</body>
</html>
