<!DOCTYPE html>
<html>
<head>
  <title>Activate</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['google_maps_api_key']}" %>
  <%= javascript_include_tag "//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js" %>
  <%= javascript_include_tag '//google-maps-utility-library-v3.googlecode.com/svn/tags/infobox/1.1.9/src/infobox_packed.js' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans">

  <meta name="viewport" content="width=device-width, initial-scale=1">


</head>
<body>
<div id="wrapper">
  <header>
  <!-- Start Navbar -->
    <div id="nav" class="container">
      <a id="hamburger-button" href="#">
        <img class="menuicon" id="hamburger-button" src="http://allfootballclub.com/wp-content/themes/nuovo/images/mobile-nav-icon.png">
      </a>
      <ul>
        <% if current_user %>
          <li><%= link_to image_tag(current_user.picture_url, alt: 'View Profile'), user_path(current_user), class: 'nav-profile-picture' %></li>
          <li><%= link_to 'Logout', :logout, method: :get %></li>
          <li><%= link_to 'Create Activity', new_activity_url %></li>
        <% else %>
          <li><%= link_to 'Sign Up', new_user_path %></li>
          <li><%= link_to 'Login', :login %></li>
        <% end %>
        <li><%= link_to 'Home', activities_url %></li>
      </ul>
      <li id="nav-logo"><a class="nav-logo" href=<%=root_url%> target="">
        <img class="activatelogo" src="http://i67.tinypic.com/2rwbak5.jpg" border="0" alt="">
      </a></li>
    </div>
    <!-- POP MENU -->
    <div class="pop-out">
      <ul>
        <% if current_user %>
          <li class="profilepic-menu"><%= link_to image_tag(current_user.picture_url, alt: 'View Profile'), user_path(current_user), class: 'nav-profile-picture' %></li>
          <li><%= link_to 'Logout', :logout, method: :get %></li>
          <li><%= link_to 'Create Activity', new_activity_url %></li>
        <% else %>
          <li><%= link_to 'Sign Up', new_user_path %></li>
          <li><%= link_to 'Login', :login %></li>
        <% end %>
        <li><%= link_to 'Home', activities_url %></li>
      </ul>
    </div>
<!-- End Navbar -->
  </header>


  <div class="parent-container">

    <div class="alerts container">
      <p id="notice"><%= flash[:notice]%></p>
      <p id="alert"><%= flash[:alert]%></p>
    </div>

    <%= yield %>

  </div>

  <!-- FIX FOOT LOGO -->
  <footer class="footer-2" role="contentinfo">
    <ul class="footer-social">
      <li><a href="javascript:void(0)">
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/facebook-logo-circle.png" alt="Facebook">
      </a></li>
      <li><a href="javascript:void(0)">
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/twitter-logo-circle.png" alt="Twitter">
      </a></li>
      <li><a href="javascript:void(0)">
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/youtube-logo-circle.png" alt="YouTube">
      </a></li>
      <li class="footer-logo">
        <%= link_to image_tag("http://i67.tinypic.com/2rwbak5.jpg", class: "activate-logo-footer", alt: "Activate Logo"),:root %></li>
    </ul>

    <!-- <div class="footer-secondary-links">
      <ul>
        <li><a href="javascript:void(0)">Terms and Conditions</a></li>
        <li><a href="javascript:void(0)">Privacy Policy</a></li>
        <li><a href="javascript:void(0)">About</a></li>
        <li><a href="javascript:void(0)">Contact</a></li>
        <li><a href="javascript:void(0)">Products</a></li>
      </ul>
    </div> -->
  </footer>
</div>
</body>
</html>
