<!DOCTYPE html>
<html>
<head>
  <title>Activ8</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['google_maps_api_key']}" %>
  <%= javascript_include_tag "//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js" %>
  <%= javascript_include_tag '//google-maps-utility-library-v3.googlecode.com/svn/tags/infobox/1.1.9/src/infobox_packed.js' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans">

  <meta name="viewport" content="width=device-width, initial-scale=1">


</head>
<body>
  <header>
  <!-- Start Navbar -->
    <div id="nav">
      <a href="#">
      <img class="menuicon" src="http://allfootballclub.com/wp-content/themes/nuovo/images/mobile-nav-icon.png">
      </a>

      <!-- ACTIVATE LOGO fix center alignment *not working -->
      <div id="logo">
        <a href="#" target="">
          <img class="activatelogo" src="http://i67.tinypic.com/2rwbak5.jpg" border="0" alt="Image and video hosting by TinyPic">
        </a>
      </div>
      <!-- End Logo -->

    <ul>
      <li><%= link_to 'Activities', :root %></li>
      <% if current_user %>
        <li><%= link_to 'View Profile', user_path(current_user) %></li>
        <li><%= link_to 'Edit Profile', edit_user_path(current_user.id) %></li>
        <li><%= link_to 'Logout', :logout, method: :post %></li>
      <% else %>
        <li><%= link_to 'Sign Up', new_user_path %></li>
        <li><%= link_to 'Login', :login %></li>
      <% end %>
    </ul>
  </div>






<!-- End Navbar -->
  </header>

  <div class="parent-container">
    <div class="alerts container">
      <p id="notice"><%= flash[:notice]%></p>
      <p id="alert"><%= flash[:alert]%></p>
    </div>

    <%= yield %>

  </div>



<!--<div class="wrapper-for-content-outside-of-footer">
   Uncomment this whole section for a sticky footer. The content of the page should be inside of this .wrapper-for-content-outside-of-footer
</div>-->

<footer class="footer-2" role="contentinfo">
  <div class="footer-logo">
    <img class="activate-logo-footer" src="http://i67.tinypic.com/2rwbak5.jpg" alt="Logo image">
      <ul class="footer-social">
        <li><a href="javascript:void(0)">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/facebook-logo-circle.png" alt="Facebook">
          </a></li>
        <li><a href="javascript:void(0)">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/twitter-logo-circle.png" alt="Twitter">
        </a></li>
        <li><a href="javascript:void(0)">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/youtube-logo-circle.png" alt="YouTube">
        </a></li>
      </ul>
  </div>

  <div class="footer-secondary-links">
    <ul>
      <a href="javascript:void(0)">Terms and Conditions</a>
      <a href="javascript:void(0)">Privacy Policy</a>
    </ul>
  </div>
    <!-- <ul>
      <li><a href="javascript:void(0)">About</a></li>
      <li><a href="javascript:void(0)">Contact</a></li>
      <li><a href="javascript:void(0)">Products</a></li>
    </ul> -->

 <!--    <div class="footer-secondary-links">
      <ul>
        <li><a href="javascript:void(0)">Terms and Conditions</a></li>
        <li><a href="javascript:void(0)">Privacy Policy</a></li>
      </ul>

    </div> -->
</footer>

</body>
</html>
